* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f5f5f5;
    font-weight: 600;
}

body { 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    transition: 5s ease;
}

.clouds {
    background-image: url('./Assets/Cloudy.svg');
}

.clear {
    background-image: url('./Assets/Mass\ Circles.svg');
}

.snow {
    background-image: url('./Assets/Snow.svg');
}

.rain {
    background-image: url('./Assets/Sprinkle.svg');
    transition: all 2s ease-in-out;
}

.other {
    background-image: url('./Assets/Blob\ Group.svg');
    
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 240, 240);
}

.content {
    display: flex;
    justify-content: space-around;
}

.search-holder {
    display: flex;
    justify-content: center;
    height: 1.5rem;
}

.search {
    background-color: black;
}

.data-holder ul {
    list-style-type: none;
}

.data-holder li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    border-radius: .5rem;
}

/* Search bar */
input[type="text"] {
    height: 100%;
    max-width: 200px;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    border-bottom: 2px solid #f5f5f5;
  }