* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.clouds {
    background-image: url('./Assets/Cloudy.svg');
}

.clear {
    background-image: url('./Assets/Mass\ Circles.svg');
}

.snow {
    background-image: url('./Assets/Snow.svg');
}

.rain {
    background-image: url('./Assets/Sprinkle.svg');
}

.other {
    background-image: url('./Assets/Blob\ Group.svg');
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 240, 240);
}

.content {
    display: flex;
    justify-content: space-around;
}

.search-holder {
    display: flex;
    justify-content: center;
    height: 1.5rem;
}

.data-holder ul {
    list-style-type: none;
}

.data-holder li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 240, 240);
    margin-bottom: 1rem;
    border-radius: .5rem;
}
